# Configuration for evaluation.

defaults:
  - eval
  - _self_

data:
  val_csv_path: ${oc.env:BASE_PATH}/data/finetune_dataset/metadata_test.csv
  mask_lig_seq: False
  min_t: 0.01
  num_t: 200
  num_repeat_per_eval_sample: 32

  # Add Gaussian noise to center position.
  center_pos_noise: True
  center_pos_noise_std: 5.0

experiment:
  name: docking
  
  eval_batch_size: ${data.num_repeat_per_eval_sample}
  num_loader_workers: 4
  use_ddp : True
  use_gpu: True
  num_gpus: 8

  # Evaluation.
  eval_ckpt_path: ${oc.env:BASE_PATH}/experiments/checkpoints/diffpepdock_v1.pth
  eval_dir: ${oc.env:BASE_PATH}/runs
  noise_scale: 1.0
  flip_align: False
  save_traj: False

postprocess:
  amber_relax: True
  rosetta_relax: True
  xml_path: ${oc.env:BASE_PATH}/analysis/interface_analyze.xml
  ori_pdbs: ${oc.env:BASE_PATH}/../test_case
  verbose: False
